# evitar subir archivos de configuración de entorno.env
.env
venv/
# ignorar archivos de configuración de IDE
.vscode/
.idea/
# ignorar archivos de dependencias
node_modules/
# ignorar archivos de construccióndist/
build/

# ignorar el contenido de la carpeta modelos
modelos/*
# ignorar todo el contenido de las carpetas que almacenan imagenes
imagenes-entrada/
imagenes-salida/

# ignorar el contenido de las carpetas projects, entrada, salida y zips dentro de storage pero mantener las carpetas porque son necesarias para la aplicación
storage/projects/*
!storage/projects/.gitkeep
storage/entrada/*
!storage/entrada/.gitkeep
storage/salida/*
!storage/salida/.gitkeep
storage/zips/*
!storage/zips/.gitkeep
